<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DynamicCodeConfigRepository">

    <!--通用应用节运行时数据表映射-->
    <resultMap id="BaseResultMap" type="DynamicCodeConfigEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="conditionId" column="condition_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="scriptContent" column="script_content" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
    </resultMap>


    <!-- 通用查询结果集合-->
    <sql id="Base_Column_List">
        id,condition_id,event_id,type,is_delete,script_content,name,version,created_time,updated_time,updated_by,created_by
    </sql>


    <sql id="conditions">
        <if test="id != null">and id =#{id,jdbcType=INTEGER}</if>
        <if test="conditionId != null">and condition_id =#{conditionId,jdbcType=INTEGER}</if>
        <if test="eventId != null">and event_id =#{eventId,jdbcType=INTEGER}</if>
        <if test="type != null">and type =#{type,jdbcType=INTEGER}</if>
        <if test="isDelete != null">and is_delete =#{isDelete,jdbcType=INTEGER}</if>
        <if test="scriptContent != null and scriptContent != ''">and script_content =#{scriptContent,jdbcType=VARCHAR}</if>
        <if test="name != null and name != ''">and name =#{name,jdbcType=VARCHAR}</if>
        <if test="version != null">and version =#{version,jdbcType=INTEGER}</if>
        <if test="createdTime != null and createdTime != ''">and created_time =#{createdTime,jdbcType=TIMESTAMP}</if>
        <if test="updatedTime != null and updatedTime != ''">and updated_time =#{updatedTime,jdbcType=TIMESTAMP}</if>
        <if test="updatedBy != null and updatedBy != ''">and updated_by =#{updatedBy,jdbcType=VARCHAR}</if>
        <if test="createdBy != null and createdBy != ''">and created_by =#{createdBy,jdbcType=VARCHAR}</if>
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectBcpDynamicCodeConfigById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bcp_dynamic_code_config
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 添加 （匹配有值的字段,不建议使用）-->
    <insert id="insertDynamicCodeConfig" useGeneratedKeys="true" keyProperty="id"
            parameterType="DynamicCodeConfigRepository">
        INSERT INTO bcp_dynamic_code_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="conditionId != null">condition_id,</if>
            <if test="eventId != null">event_id,</if>
            <if test="type != null">type,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="scriptContent != null">script_content,</if>
            <if test="name != null">name,</if>
            <if test="version != null">version,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createdBy != null">created_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="conditionId != null">#{conditionId,jdbcType=VARCHAR},</if>
            <if test="eventId != null">#{eventId,jdbcType=VARCHAR},</if>
            <if test="type != null">#{type,jdbcType=INTEGER},</if>
            <if test="isDelete != null">#{isDelete,jdbcType=INTEGER},</if>
            <if test="scriptContent != null">#{scriptContent,jdbcType=VARCHAR},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="version != null">#{version,jdbcType=INTEGER},</if>
            <if test="createdTime != null">#{createdTime,jdbcType=TIMESTAMP},</if>
            <if test="updatedTime != null">#{updatedTime,jdbcType=TIMESTAMP},</if>
            <if test="updatedBy != null">#{updatedBy,jdbcType=VARCHAR},</if>
            <if test="createdBy != null">#{createdBy,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 根据主键修改输入的值-->
    <update id="updateDynamicCodeConfigByIdSelective"
            parameterType="DynamicCodeConfigRepository">
        UPDATE bcp_dynamic_code_config
        <set>
            <if test="id != null">id=#{id,jdbcType=INTEGER},</if>
            <if test="conditionId != null">condition_id=#{conditionId,jdbcType=VARCHAR},</if>
            <if test="eventId != null">event_id=#{eventId,jdbcType=VARCHAR},</if>
            <if test="type != null">type=#{type,jdbcType=INTEGER},</if>
            <if test="isDelete != null">is_delete=#{isDelete,jdbcType=INTEGER},</if>
            <if test="scriptContent != null">script_content=#{scriptContent,jdbcType=VARCHAR},</if>
            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="version != null">version=#{version,jdbcType=INTEGER},</if>
            <if test="createdTime != null">created_time=#{createdTime,jdbcType=TIMESTAMP},</if>
            <if test="updatedTime != null">updated_time=#{updatedTime,jdbcType=TIMESTAMP},</if>
            <if test="updatedBy != null">updated_by=#{updatedBy,jdbcType=VARCHAR},</if>
            <if test="createdBy != null">created_by=#{createdBy,jdbcType=VARCHAR},</if>
        </set>
        WHERE id=#{id,jdbcType=INTEGER}
    </update>

    <!-- 分页查询 -->
    <select id="selectBcpDynamicCodeConfigListPage" resultMap="BaseResultMap" parameterType="java.util.HashMap"
            useCache="false">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bcp_dynamic_code_config
        <where>
            <include refid="conditions"/>
        </where>
        ORDER BY id DESC

        limit #{startOfPage},#{pageSize}
    </select>

    <!-- 分页查询总数 -->
    <select id="selectBcpDynamicCodeConfigListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap"
            useCache="false">
        SELECT
        count(*)
        FROM bcp_dynamic_code_config
        <where>
            <include refid="conditions"/>
        </where>
    </select>

    <!-- 按条件查询列表 -->
    <select id="selectDynamicCodeConfigList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bcp_dynamic_code_config
        <where>
            <include refid="conditions"/>
        </where>
    </select>

</mapper>